<div data-vue-container="Quiz" data-section-id="{{ section.id }}">
  <script type="application/json" data-vue-props>
  {
    "id": "{{ section.id }}",
    "name": "Quiz",
    {% include 'INF-spread-json', input: section.settings %},
    "blocks": [
      {%- for block in section.blocks -%}
      { 
        "id": "{{ block.id }}",
        "type": "{{ block.type }}",
        "settings": {{ block.settings | json }}
      }{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
  </script>
</div>

<iframe src="" frameborder="0" name="form-quiz" class="hide"></iframe>
<iframe src="" frameborder="0" name="form-klaviyo" class="hide"></iframe>
<style>
.Question10 .Checkbox--Fever label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20133.05%20312.2%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M111.36%2C196.54V178.12h5.39a6.52%2C6.52%2C0%2C0%2C0%2C0-13h-5.39V129.32h5.39a6.52%2C6.52%2C0%2C1%2C0%2C0-13h-5.39V80.53h5.39a6.52%2C6.52%2C0%2C1%2C0%2C0-13h-5.39V44.84a44.84%2C44.84%2C0%2C1%2C0-89.67%2C0v151.7a66.57%2C66.57%2C0%2C0%2C0%2C41.7%2C115.59c1.06.05%2C2.12.07%2C3.17.07a66.52%2C66.52%2C0%2C0%2C0%2C44.8-115.66Zm-7.9%2C87.82A53.09%2C53.09%2C0%2C0%2C1%2C64%2C299.11c-27-1.25-49.36-23.36-50.87-50.36a53.14%2C53.14%2C0%2C0%2C1%2C19.25-44.23%2C6.53%2C6.53%2C0%2C0%2C0%2C2.35-5V44.84a31.81%2C31.81%2C0%2C0%2C1%2C63.61%2C0V67.5H91.72a6.52%2C6.52%2C0%2C1%2C0%2C0%2C13h6.61v35.76H91.72a6.52%2C6.52%2C0%2C1%2C0%2C0%2C13h6.61v35.76H91.72a6.52%2C6.52%2C0%2C0%2C0%2C0%2C13h6.61V199.5a6.53%2C6.53%2C0%2C0%2C0%2C2.35%2C5%2C53.48%2C53.48%2C0%2C0%2C1%2C2.78%2C79.84Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M85.32%2C221.5a6.51%2C6.51%2C0%2C0%2C0-.65%2C9.19%2C24%2C24%2C0%2C1%2C1-18.15-8.29A6.51%2C6.51%2C0%2C0%2C0%2C73%2C215.89V46.61a6.52%2C6.52%2C0%2C1%2C0-13%2C0V210a37%2C37%2C0%2C1%2C0%2C34.51%2C12.2A6.52%2C6.52%2C0%2C0%2C0%2C85.32%2C221.5Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}

.Question10 .Checkbox--Runny label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20225.34%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M191.92%2C161.19H180.39a1.43%2C1.43%2C0%2C0%2C1-.91-.33A1.4%2C1.4%2C0%2C0%2C1%2C179%2C160L167.39%2C93.62a6.52%2C6.52%2C0%2C0%2C0-12.85%2C2.25l11.62%2C66.42a14.45%2C14.45%2C0%2C0%2C0%2C14.23%2C12h11.53a20.38%2C20.38%2C0%2C0%2C1%2C0%2C40.75h-28l3.55-6a5.16%2C5.16%2C0%2C0%2C1%2C4.42-2.52h12.22a6.53%2C6.53%2C0%2C0%2C0%2C0-13H171.86a18.25%2C18.25%2C0%2C0%2C0-15.66%2C8.94l-9.29%2C15.74-2.15%2C3.29a38.31%2C38.31%2C0%2C0%2C1-64.18%2C0l-2.15-3.29-9.29-15.73a18.25%2C18.25%2C0%2C0%2C0-15.65-8.94H41.27a6.53%2C6.53%2C0%2C1%2C0%2C0%2C13H53.49A5.18%2C5.18%2C0%2C0%2C1%2C57.91%2C209l3.55%2C6h-28a20.38%2C20.38%2C0%2C0%2C1%2C0-40.75H45a14.39%2C14.39%2C0%2C0%2C0%2C14.19-12.05L84.54%2C7.58A6.52%2C6.52%2C0%2C0%2C0%2C71.67%2C5.47L46.29%2C160.08a1.3%2C1.3%2C0%2C0%2C1-.45.79%2C1.31%2C1.31%2C0%2C0%2C1-.86.32H33.42a33.43%2C33.43%2C0%2C0%2C0%2C0%2C66.85H69.35l.3.45a51.35%2C51.35%2C0%2C0%2C0%2C86%2C0l.3-.45h35.93a33.43%2C33.43%2C0%2C0%2C0%2C0-66.85Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M85.19%2C158.41a6.54%2C6.54%2C0%2C0%2C0%2C8.8%2C2.8%2C40.87%2C40.87%2C0%2C0%2C1%2C36.5-.42l1%2C.49a6.53%2C6.53%2C0%2C1%2C0%2C5.72-11.73l-1-.49a54%2C54%2C0%2C0%2C0-48.21.56A6.53%2C6.53%2C0%2C0%2C0%2C85.19%2C158.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M55.3%2C239.74a6.52%2C6.52%2C0%2C0%2C0-9%2C.09c-2.46%2C2.38-24%2C23.88-24%2C44.14a28.56%2C28.56%2C0%2C0%2C0%2C57.12%2C0c0-9.26-4.13-19.59-12.28-30.68A106.77%2C106.77%2C0%2C0%2C0%2C55.3%2C239.74Zm-4.45%2C59.74A15.52%2C15.52%2C0%2C0%2C1%2C35.34%2C284c0-9.89%2C9-22.48%2C15.59-30%2C6.51%2C7.3%2C15.43%2C19.62%2C15.43%2C30A15.52%2C15.52%2C0%2C0%2C1%2C50.85%2C299.48Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M111.63%2C76a17.9%2C17.9%2C0%2C0%2C0%2C30.55%2C12.66l16.4-16.4L175%2C88.67A17.9%2C17.9%2C0%2C0%2C0%2C205.53%2C76a17.75%2C17.75%2C0%2C0%2C0-5.24-12.65L183.89%2C47l16.4-16.4A17.9%2C17.9%2C0%2C0%2C0%2C175%2C5.24l-16.4%2C16.4-16.4-16.4a17.9%2C17.9%2C0%2C0%2C0-25.31%2C25.31L133.27%2C47l-16.4%2C16.4A17.79%2C17.79%2C0%2C0%2C0%2C111.63%2C76Zm14.47-3.43%2C21-21a6.52%2C6.52%2C0%2C0%2C0%2C0-9.23l-21-21A4.85%2C4.85%2C0%2C1%2C1%2C133%2C14.47l21%2C21a6.49%2C6.49%2C0%2C0%2C0%2C9.22%2C0l21-21a4.85%2C4.85%2C0%2C0%2C1%2C6.85%2C6.86l-21%2C21a6.52%2C6.52%2C0%2C0%2C0%2C0%2C9.23l21%2C21a4.85%2C4.85%2C0%2C0%2C1-6.85%2C6.86l-21-21a6.52%2C6.52%2C0%2C0%2C0-9.22%2C0l-21%2C21a4.85%2C4.85%2C0%2C0%2C1-6.85-6.86Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Sneezing label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20394.37%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M197.19%2C0A119.6%2C119.6%2C0%2C0%2C0%2C77.72%2C119.47v38.79a119.42%2C119.42%2C0%2C0%2C0%2C15.87%2C59.53%2C6.52%2C6.52%2C0%2C0%2C0%2C11.3-6.5%2C106.35%2C106.35%2C0%2C0%2C1-14.13-53V119.47a106.43%2C106.43%2C0%2C1%2C1%2C212.85%2C0v38.79a106.45%2C106.45%2C0%2C0%2C1-14.12%2C53%2C6.52%2C6.52%2C0%2C1%2C0%2C11.3%2C6.5%2C119.41%2C119.41%2C0%2C0%2C0%2C15.86-59.53V119.47A119.6%2C119.6%2C0%2C0%2C0%2C197.19%2C0Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M213.56%2C135.73a19.71%2C19.71%2C0%2C0%2C0-32.75%2C0L96.89%2C260.91A20.38%2C20.38%2C0%2C0%2C0%2C113%2C293.72h34.63a26.94%2C26.94%2C0%2C0%2C0%2C25.71%2C18.81H221a27%2C27%2C0%2C0%2C0%2C22.32-11.83%2C26.64%2C26.64%2C0%2C0%2C0%2C3.38-7h34.63a20.39%2C20.39%2C0%2C0%2C0%2C16.15-32.81Zm74.38%2C140.81a7.19%2C7.19%2C0%2C0%2C1-6.6%2C4.14h-33.8a27.28%2C27.28%2C0%2C0%2C0-1.46-5.09L224.55%2C221.4a6.52%2C6.52%2C0%2C0%2C0-12.12%2C4.81L234%2C280.41a13.94%2C13.94%2C0%2C0%2C1-13%2C19.08H173.37a13.94%2C13.94%2C0%2C0%2C1-13-19.08L182%2C226.21a6.52%2C6.52%2C0%2C0%2C0-12.12-4.81l-21.54%2C54.19a28%2C28%2C0%2C0%2C0-1.45%2C5.09H113a7.34%2C7.34%2C0%2C0%2C1-5.75-11.89q.16-.21.3-.42L191.64%2C143a6.67%2C6.67%2C0%2C0%2C1%2C11.09%2C0l84.06%2C125.38c.09.14.2.28.3.42A7.18%2C7.18%2C0%2C0%2C1%2C287.94%2C276.54Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M14.37%2C171.8l41.86%2C26.29a6.52%2C6.52%2C0%2C0%2C0%2C6.94-11L21.3%2C160.75a6.52%2C6.52%2C0%2C0%2C0-6.93%2C11.05Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M59.7%2C214.37H6.52a6.52%2C6.52%2C0%2C1%2C0%2C0%2C13H59.7a6.52%2C6.52%2C0%2C1%2C0%2C0-13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M56.23%2C243.69%2C14.37%2C270a6.52%2C6.52%2C0%2C0%2C0%2C3.47%2C12%2C6.44%2C6.44%2C0%2C0%2C0%2C3.46-1l41.87-26.29a6.52%2C6.52%2C0%2C0%2C0-6.94-11Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M380%2C270l-41.87-26.29a6.52%2C6.52%2C0%2C0%2C0-6.94%2C11L373.07%2C281A6.52%2C6.52%2C0%2C0%2C0%2C380%2C270Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M387.85%2C214.37H334.67a6.52%2C6.52%2C0%2C1%2C0%2C0%2C13h53.18a6.52%2C6.52%2C0%2C0%2C0%2C0-13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M334.68%2C199.09a6.47%2C6.47%2C0%2C0%2C0%2C3.46-1L380%2C171.8a6.52%2C6.52%2C0%2C0%2C0-6.94-11.05l-41.87%2C26.3a6.52%2C6.52%2C0%2C0%2C0%2C3.48%2C12Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Mucus label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20375.69%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M333%2C207.67l-.48-.1L287%2C199.68a14%2C14%2C0%2C0%2C1-11.82-12.4%2C13.78%2C13.78%2C0%2C0%2C1%2C10.92-14.71L332.75%2C163a7%2C7%2C0%2C0%2C0%2C.69-.18%2C29.68%2C29.68%2C0%2C0%2C0%2C22.41-30.53%2C30%2C30%2C0%2C0%2C0-26.05-27.79%2C29.44%2C29.44%2C0%2C0%2C0-18.44%2C3.75l-.35.18-55.31%2C30.4A29.09%2C29.09%2C0%2C0%2C1%2C223.21%2C136c-.39-.33-.79-.66-1.2-1a29%2C29%2C0%2C0%2C1-9.53-31l9.86-32.36%2C0-.13A53.75%2C53.75%2C0%2C0%2C0%2C225%2C48.31%2C54.44%2C54.44%2C0%2C0%2C0%2C175%2C.13a53.59%2C53.59%2C0%2C0%2C0-40.6%2C14.42A54%2C54%2C0%2C0%2C0%2C120.7%2C73l0%2C.08a54.25%2C54.25%2C0%2C0%2C0%2C2.93%2C6.47l14.82%2C32.53a9.14%2C9.14%2C0%2C0%2C1-14.77%2C10.26L74.3%2C73a43.45%2C43.45%2C0%2C0%2C0-3.47-3.45A42.47%2C42.47%2C0%2C0%2C0%2C40.41%2C58.94%2C43%2C43%2C0%2C0%2C0%2C.06%2C99.15%2C42.42%2C42.42%2C0%2C0%2C0%2C30.7%2C142.39L87.58%2C162.3a60.54%2C60.54%2C0%2C0%2C1%2C11.09%2C5.19%2C39.21%2C39.21%2C0%2C1%2C0%2C24.21%2C74.42l-8.74%2C16.39a32.39%2C32.39%2C0%2C0%2C0-8%2C23.72A33%2C33%2C0%2C0%2C0%2C135%2C312.33a35.92%2C35.92%2C0%2C0%2C0%2C3.71.2%2C32.64%2C32.64%2C0%2C0%2C0%2C32-25.73l0-.1c.22-1%2C.39-2.06.51-3.1l1.09-6.73A40.49%2C40.49%2C0%2C0%2C1%2C240.22%2C254l44.61%2C42.49.09.09A52.93%2C52.93%2C0%2C1%2C0%2C333%2C207.67Zm29.57%2C53.69A39.88%2C39.88%2C0%2C0%2C1%2C294%2C287.25c-.15-.16-.31-.31-.47-.45l-44.34-42.23a53.53%2C53.53%2C0%2C0%2C0-89.77%2C30.22l-1.11%2C6.88a3.06%2C3.06%2C0%2C0%2C0-.05.32c-.07.66-.18%2C1.31-.31%2C1.94a.17.17%2C0%2C0%2C0%2C0%2C.07%2C19.66%2C19.66%2C0%2C1%2C1-33.65-17.51%2C6.39%2C6.39%2C0%2C0%2C0%2C1-1.5l12.21-22.9a6.34%2C6.34%2C0%2C0%2C0%2C.53-1.3A11.2%2C11.2%2C0%2C0%2C0%2C121.64%2C228a26.16%2C26.16%2C0%2C1%2C1-17-48.45l.26%2C0a11.2%2C11.2%2C0%2C0%2C0%2C9.49-8.45%2C11.05%2C11.05%2C0%2C0%2C0-4.37-11.75A73.14%2C73.14%2C0%2C0%2C0%2C91.88%2C150l-57-20-.36-.11A29.45%2C29.45%2C0%2C0%2C1%2C13.09%2C99.85%2C29.8%2C29.8%2C0%2C0%2C1%2C41.07%2C72a29.37%2C29.37%2C0%2C0%2C1%2C21.1%2C7.38%2C31.17%2C31.17%2C0%2C0%2C1%2C2.51%2C2.5l.27.28%2C49.55%2C49.41a22.18%2C22.18%2C0%2C0%2C0%2C35.85-24.91l-14.9-32.73c-.07-.14-.13-.27-.21-.4a42.7%2C42.7%2C0%2C0%2C1-2.31-5.08v0a41%2C41%2C0%2C0%2C1%2C41.21-55.24%2C41%2C41%2C0%2C0%2C1%2C35.8%2C54.39c-.07.21-.13.41-.18.62l-9.75%2C32a42.19%2C42.19%2C0%2C0%2C0%2C13.9%2C45.08c.32.26.64.51.94.77%2C13%2C10.88%2C32%2C12.57%2C47.15%2C4.22l54.79-30.12a8%2C8%2C0%2C0%2C0%2C.77-.4%2C16.59%2C16.59%2C0%2C0%2C1%2C10.68-2.3A16.83%2C16.83%2C0%2C0%2C1%2C342.82%2C133%2C16.66%2C16.66%2C0%2C0%2C1%2C330%2C150.19l-.32.08-46.12%2C9.52a26.83%2C26.83%2C0%2C0%2C0-21.29%2C28.61%2C27.1%2C27.1%2C0%2C0%2C0%2C22.6%2C24.14L330%2C220.36l.26.06A40.1%2C40.1%2C0%2C0%2C1%2C362.6%2C261.36Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M59.42%2C249.52A31.51%2C31.51%2C0%2C1%2C0%2C90.92%2C281%2C31.54%2C31.54%2C0%2C0%2C0%2C59.42%2C249.52Zm0%2C50A18.46%2C18.46%2C0%2C1%2C1%2C77.88%2C281%2C18.48%2C18.48%2C0%2C0%2C1%2C59.42%2C299.48Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M255.05%2C119.63a25.93%2C25.93%2C0%2C1%2C0-25.93-25.92A26%2C26%2C0%2C0%2C0%2C255.05%2C119.63Zm0-38.8a12.88%2C12.88%2C0%2C1%2C1-12.88%2C12.88A12.89%2C12.89%2C0%2C0%2C1%2C255.05%2C80.83Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Sore label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20321.74%20312.35%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M201%2C202.92V165.44a13%2C13%2C0%2C0%2C1%2C4.93-10.25A73.27%2C73.27%2C0%2C0%2C0%2C234.6%2C96.82V73.73a73.74%2C73.74%2C0%2C1%2C0-147.47%2C0V96.82a73.27%2C73.27%2C0%2C0%2C0%2C28.69%2C58.37%2C13%2C13%2C0%2C0%2C1%2C4.93%2C10.25v37.48A108.83%2C108.83%2C0%2C0%2C0%2C14.44%2C305.45a6.52%2C6.52%2C0%2C0%2C0%2C13%2C.74%2C95.77%2C95.77%2C0%2C0%2C1%2C95.61-90.25%2C10.74%2C10.74%2C0%2C0%2C0%2C10.72-10.73V165.44a26.13%2C26.13%2C0%2C0%2C0-10-20.57%2C60.31%2C60.31%2C0%2C0%2C1-23.62-48.05V73.73a60.7%2C60.7%2C0%2C0%2C1%2C121.39%2C0V96.82a60.31%2C60.31%2C0%2C0%2C1-23.62%2C48.05%2C26.13%2C26.13%2C0%2C0%2C0-10%2C20.57v39.77a10.74%2C10.74%2C0%2C0%2C0%2C10.73%2C10.73%2C95.75%2C95.75%2C0%2C0%2C1%2C95.6%2C90.26%2C6.52%2C6.52%2C0%2C0%2C0%2C6.51%2C6.15h.37a6.52%2C6.52%2C0%2C0%2C0%2C6.14-6.88A108.82%2C108.82%2C0%2C0%2C0%2C201%2C202.92Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M171%2C138.72a6.52%2C6.52%2C0%2C0%2C0-6.52%2C6.52v94.33a6.52%2C6.52%2C0%2C0%2C0%2C13%2C0V145.24A6.52%2C6.52%2C0%2C0%2C0%2C171%2C138.72Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M150.7%2C138.53a6.52%2C6.52%2C0%2C0%2C0-6.52%2C6.52v94.52a6.52%2C6.52%2C0%2C0%2C0%2C13%2C0V145.05A6.52%2C6.52%2C0%2C0%2C0%2C150.7%2C138.53Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M42.2%2C172.88a6.52%2C6.52%2C0%2C0%2C0%2C6.43-5.46l.81-4.9%2C28.51%2C10a6.52%2C6.52%2C0%2C0%2C0%2C4.32-12.31L46.42%2C147.65a6.51%2C6.51%2C0%2C0%2C0-8.59%2C5.09l-.7%2C4.24-28-12.4A6.52%2C6.52%2C0%2C1%2C0%2C3.88%2C156.5l35.67%2C15.82A6.47%2C6.47%2C0%2C0%2C0%2C42.2%2C172.88Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M16.29%2C221.41l37.12-8.71A6.51%2C6.51%2C0%2C0%2C0%2C56.79%2C202l-2.92-3.29%2C25-8.19a6.52%2C6.52%2C0%2C1%2C0-4.06-12.39L40.36%2C189.44A6.52%2C6.52%2C0%2C0%2C0%2C37.52%2C200l2.26%2C2.55-26.47%2C6.21a6.52%2C6.52%2C0%2C0%2C0%2C1.49%2C12.87A6.39%2C6.39%2C0%2C0%2C0%2C16.29%2C221.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M48%2C128.54a6.52%2C6.52%2C0%2C0%2C0%2C9.2%2C3.11l6.75-3.83L77%2C151.16a6.52%2C6.52%2C0%2C1%2C0%2C11.37-6.38l-16.29-29a6.51%2C6.51%2C0%2C0%2C0-8.9-2.48l-6.11%2C3.46L46.62%2C92.31a6.52%2C6.52%2C0%2C0%2C0-12%2C5.14Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M321.17%2C147.9a6.52%2C6.52%2C0%2C0%2C0-8.6-3.32l-28%2C12.4-.7-4.24a6.52%2C6.52%2C0%2C0%2C0-8.59-5.09L239.47%2C160.2a6.52%2C6.52%2C0%2C0%2C0%2C4.31%2C12.31l28.52-10%2C.81%2C4.9a6.5%2C6.5%2C0%2C0%2C0%2C6.43%2C5.46%2C6.39%2C6.39%2C0%2C0%2C0%2C2.64-.56l35.68-15.82A6.52%2C6.52%2C0%2C0%2C0%2C321.17%2C147.9Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M308.42%2C208.72%2C282%2C202.51l2.26-2.55a6.52%2C6.52%2C0%2C0%2C0-2.84-10.52L247%2C178.15a6.52%2C6.52%2C0%2C0%2C0-4.07%2C12.39l25%2C8.19L264.94%2C202a6.52%2C6.52%2C0%2C0%2C0%2C3.39%2C10.68l37.11%2C8.71a6.52%2C6.52%2C0%2C1%2C0%2C3-12.69Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M235.85%2C153.66a6.52%2C6.52%2C0%2C0%2C0%2C8.87-2.5l13.09-23.34%2C6.75%2C3.83a6.56%2C6.56%2C0%2C0%2C0%2C5.3.5%2C6.49%2C6.49%2C0%2C0%2C0%2C3.91-3.61L287.1%2C97.45a6.52%2C6.52%2C0%2C1%2C0-12-5.14l-10.47%2C24.4-6.11-3.46a6.5%2C6.5%2C0%2C0%2C0-8.89%2C2.48l-16.3%2C29.05A6.53%2C6.53%2C0%2C0%2C0%2C235.85%2C153.66Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Cough label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20346.81%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M203.86%2C92.28a6.52%2C6.52%2C0%2C0%2C0-7-6l-6.5.49a6.53%2C6.53%2C0%2C0%2C0%2C.48%2C13l.5%2C0%2C6.5-.5A6.52%2C6.52%2C0%2C0%2C0%2C203.86%2C92.28Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M233.14%2C90.07a6.53%2C6.53%2C0%2C0%2C0-7-6l-6.51.49a6.53%2C6.53%2C0%2C0%2C0%2C.49%2C13l.5%2C0%2C6.5-.49A6.53%2C6.53%2C0%2C0%2C0%2C233.14%2C90.07Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M242.9%2C89.33a6.53%2C6.53%2C0%2C0%2C0%2C6.5%2C6l.49%2C0%2C6.51-.49a6.53%2C6.53%2C0%2C0%2C0-1-13l-6.51.5A6.52%2C6.52%2C0%2C0%2C0%2C242.9%2C89.33Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M248.6%2C122.4h6.53a6.53%2C6.53%2C0%2C0%2C0%2C0-13.05H248.6a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13.05Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M219.24%2C122.4h6.53a6.53%2C6.53%2C0%2C0%2C0%2C0-13.05h-6.53a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13.05Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M189.88%2C122.4h6.53a6.53%2C6.53%2C0%2C0%2C0%2C0-13.05h-6.53a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13.05Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M278%2C122.4h2a6.53%2C6.53%2C0%2C0%2C0%2C0-13.05h-2a6.53%2C6.53%2C0%2C1%2C0%2C0%2C13.05Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M219.64%2C147.21l6.5.49.5%2C0a6.52%2C6.52%2C0%2C0%2C0%2C.48-13l-6.5-.49a6.52%2C6.52%2C0%2C1%2C0-1%2C13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M248.91%2C149.42l6.51.49.5%2C0a6.52%2C6.52%2C0%2C0%2C0%2C.48-13l-6.51-.5a6.53%2C6.53%2C0%2C0%2C0-1%2C13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M190.36%2C145l6.5.49.5%2C0a6.52%2C6.52%2C0%2C0%2C0%2C.48-13l-6.5-.49a6.52%2C6.52%2C0%2C1%2C0-1%2C13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M271.62%2C70.93a6.53%2C6.53%2C0%2C0%2C0%2C8.29-4.05%2C17.26%2C17.26%2C0%2C0%2C1%2C32.63%2C11.25%2C6.52%2C6.52%2C0%2C0%2C0%2C2.91%2C7.78%2C34.93%2C34.93%2C0%2C0%2C1%2C.14%2C60.47%2C6.51%2C6.51%2C0%2C0%2C0-2.92%2C7.62A17.26%2C17.26%2C0%2C0%2C1%2C280%2C165.15a6.53%2C6.53%2C0%2C0%2C0-12.27%2C4.46A30.31%2C30.31%2C0%2C0%2C0%2C326.23%2C155a48%2C48%2C0%2C0%2C0-.08-77.67%2C31%2C31%2C0%2C0%2C0%2C.38-4.82%2C30.3%2C30.3%2C0%2C0%2C0-59-9.86A6.52%2C6.52%2C0%2C0%2C0%2C271.62%2C70.93Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M82.9%2C129.41a5.78%2C5.78%2C0%2C0%2C0%2C.83%2C0%2C6.53%2C6.53%2C0%2C0%2C0%2C5.66-7.29%2C73.06%2C73.06%2C0%2C0%2C1-.57-9.14V85.72A72.68%2C72.68%2C0%2C0%2C1%2C230.9%2C64.12a6.53%2C6.53%2C0%2C0%2C0%2C12.47-3.87A85.74%2C85.74%2C0%2C0%2C0%2C75.77%2C85.72v27.21a85.79%2C85.79%2C0%2C0%2C0%2C.67%2C10.77A6.52%2C6.52%2C0%2C0%2C0%2C82.9%2C129.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M36.72%2C225.08a6.52%2C6.52%2C0%2C0%2C0-9.16%2C1.1A128.06%2C128.06%2C0%2C0%2C0%2C0%2C306a6.53%2C6.53%2C0%2C0%2C0%2C13.05%2C0%2C115.17%2C115.17%2C0%2C0%2C1%2C24.77-71.77A6.52%2C6.52%2C0%2C0%2C0%2C36.72%2C225.08Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M317.4%2C206.18l-101.18-27.3a87.86%2C87.86%2C0%2C0%2C0%2C9.32-9%2C6.53%2C6.53%2C0%2C1%2C0-9.75-8.68%2C72.82%2C72.82%2C0%2C0%2C1-15.74%2C13.3L53.43%2C135a39.77%2C39.77%2C0%2C1%2C0-20.72%2C76.79l224.6%2C60.61a6.53%2C6.53%2C0%2C1%2C0%2C3.4-12.6L36.11%2C199.14A26.72%2C26.72%2C0%2C1%2C1%2C50%2C147.55l149.35%2C40.3h0L314%2C218.78a26.73%2C26.73%2C0%2C0%2C1-2.11%2C52.09%2C26.43%2C26.43%2C0%2C0%2C1-11.82-.5l-.15%2C0-.38-.08-.31-.05a3.16%2C3.16%2C0%2C0%2C0-.32%2C0%2C2.36%2C2.36%2C0%2C0%2C0-.38%2C0h-.25l-.42%2C0-.24%2C0-.38.05-.27.05-.33.09-.3.08-.29.11-.3.12-.28.13-.28.15a2.61%2C2.61%2C0%2C0%2C0-.28.17l-.24.16a3.3%2C3.3%2C0%2C0%2C0-.3.22l-.19.15-.31.28-.15.14c-.1.1-.19.21-.29.32l-.12.14c-.09.11-.17.23-.25.34l-.13.18c-.07.1-.13.21-.2.32l-.13.24c-.05.1-.1.19-.14.29a3.09%2C3.09%2C0%2C0%2C0-.14.32l-.09.25c-.05.12-.09.25-.13.38l0%2C.09%2C0%2C.16c0%2C.12-.06.25-.08.37s0%2C.22-.05.32%2C0%2C.2%2C0%2C.31%2C0%2C.26%2C0%2C.39V306a6.53%2C6.53%2C0%2C0%2C0%2C13.05%2C0V284.3c.73%2C0%2C1.45.07%2C2.18.07a39.78%2C39.78%2C0%2C0%2C0%2C10.31-78.19Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M81.2%2C269.42a6.52%2C6.52%2C0%2C0%2C0-6.52%2C6.52V306a6.52%2C6.52%2C0%2C0%2C0%2C13%2C0V275.94A6.52%2C6.52%2C0%2C0%2C0%2C81.2%2C269.42Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}

.Question10 .Checkbox--Shortness label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20295.54%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M203.3%2C143.94a70.16%2C70.16%2C0%2C0%2C0%2C23.56-52.31V69.87A69.88%2C69.88%2C0%2C0%2C0%2C92.61%2C42.67a6.52%2C6.52%2C0%2C0%2C0%2C12%2C5.08A56.84%2C56.84%2C0%2C0%2C1%2C213.82%2C69.87V91.63a57%2C57%2C0%2C0%2C1-28.43%2C49.22%2C8.27%2C8.27%2C0%2C0%2C0-3.88%2C9.39%2C8.37%2C8.37%2C0%2C0%2C0%2C8.07%2C6.19h3a90%2C90%2C0%2C0%2C1%2C89.87%2C89.87V306a6.53%2C6.53%2C0%2C0%2C0%2C13.05%2C0V246.3A103.06%2C103.06%2C0%2C0%2C0%2C203.3%2C143.94Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M121.36%2C156.43h3a8.37%2C8.37%2C0%2C0%2C0%2C8.08-6.19%2C8.26%2C8.26%2C0%2C0%2C0-3.89-9.39%2C56.65%2C56.65%2C0%2C0%2C1-15.68-13.37%2C6.53%2C6.53%2C0%2C0%2C0-10.12%2C8.24%2C70.47%2C70.47%2C0%2C0%2C0%2C7.88%2C8.22A103.07%2C103.07%2C0%2C0%2C0%2C18.45%2C246.3V306a6.52%2C6.52%2C0%2C0%2C0%2C13%2C0V246.3A90%2C90%2C0%2C0%2C1%2C121.36%2C156.43Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M241.72%2C214.61a45.84%2C45.84%2C0%2C0%2C0-44.62-36.16%2C29.56%2C29.56%2C0%2C0%2C0-29.47%2C27.79%2C10.45%2C10.45%2C0%2C0%2C1-4.11-8.3V133.13a6.53%2C6.53%2C0%2C0%2C0-13.05%2C0v64.81a10.48%2C10.48%2C0%2C0%2C1-4.12%2C8.3%2C29.56%2C29.56%2C0%2C0%2C0-29.46-27.79%2C45.82%2C45.82%2C0%2C0%2C0-44.62%2C36.16L57.79%2C283a24.48%2C24.48%2C0%2C0%2C0%2C23.93%2C29.54%2C25.15%2C25.15%2C0%2C0%2C0%2C4-.32l32-5.22a34.17%2C34.17%2C0%2C0%2C0%2C28.78-33.85V222.2l7.14-5a23.44%2C23.44%2C0%2C0%2C0%2C3.44-3%2C24%2C24%2C0%2C0%2C0%2C3.44%2C3l7.15%2C5v50.93A34.16%2C34.16%2C0%2C0%2C0%2C196.35%2C307l32%2C5.22a25.15%2C25.15%2C0%2C0%2C0%2C3.95.32A24.47%2C24.47%2C0%2C0%2C0%2C256.19%2C283Zm-108.36.83L121.18%2C224l-9-11.1a6.52%2C6.52%2C0%2C0%2C0-10.13%2C8.22l8.45%2C10.42L91.12%2C245.24a6.53%2C6.53%2C0%2C0%2C0%2C3.77%2C11.86%2C6.45%2C6.45%2C0%2C0%2C0%2C3.75-1.2l8.47-6v18.14a6.52%2C6.52%2C0%2C0%2C0%2C6.53%2C6.52h0a6.53%2C6.53%2C0%2C0%2C0%2C6.52-6.53V240.73l13.21-9.32v41.72a21.18%2C21.18%2C0%2C0%2C1-17.83%2C21l-32%2C5.21a11.41%2C11.41%2C0%2C0%2C1-13-13.64L85%2C217.31a32.72%2C32.72%2C0%2C0%2C1%2C31.86-25.81A16.49%2C16.49%2C0%2C0%2C1%2C133.36%2C208Zm107.16%2C80.49a11.27%2C11.27%2C0%2C0%2C1-10.11%2C3.39l-32-5.21a21.18%2C21.18%2C0%2C0%2C1-17.83-21V231.41l13.21%2C9.32v27.33a6.53%2C6.53%2C0%2C0%2C0%2C6.53%2C6.53h0a6.52%2C6.52%2C0%2C0%2C0%2C6.52-6.52V249.93l8.46%2C6a6.45%2C6.45%2C0%2C0%2C0%2C3.75%2C1.2%2C6.52%2C6.52%2C0%2C0%2C0%2C3.77-11.86l-19.37-13.67%2C8.45-10.42a6.52%2C6.52%2C0%2C0%2C0-10.13-8.22l-9%2C11.1-12.18-8.59V208A16.49%2C16.49%2C0%2C0%2C1%2C197.1%2C191.5%2C32.71%2C32.71%2C0%2C0%2C1%2C229%2C217.31l14.48%2C68.37A11.28%2C11.28%2C0%2C0%2C1%2C240.52%2C295.93Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M103.53%2C103.24l-48.05%2C5.37a6.53%2C6.53%2C0%2C0%2C0%2C.72%2C13%2C6%2C6%2C0%2C0%2C0%2C.73%2C0L105%2C116.2a6.52%2C6.52%2C0%2C1%2C0-1.45-13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M105.09%2C83.72H40.64a6.52%2C6.52%2C0%2C1%2C0%2C0%2C13h64.45a6.52%2C6.52%2C0%2C0%2C0%2C0-13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M105%2C64.28%2C56.93%2C58.9a6.53%2C6.53%2C0%2C0%2C0-1.45%2C13l48.05%2C5.38c.25%2C0%2C.49%2C0%2C.74%2C0a6.53%2C6.53%2C0%2C0%2C0%2C.71-13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M43.78%2C154.6a27%2C27%2C0%2C0%2C0%2C25.54-18.22A6.52%2C6.52%2C0%2C0%2C0%2C57%2C132.14a14%2C14%2C0%2C1%2C1-26.39-9.09%2C6.52%2C6.52%2C0%2C0%2C0-2.91-7.78%2C29.18%2C29.18%2C0%2C0%2C1-.12-50.52%2C6.51%2C6.51%2C0%2C0%2C0%2C2.92-7.62%2C14%2C14%2C0%2C0%2C1%2C26.42-9%2C6.52%2C6.52%2C0%2C0%2C0%2C12.26-4.46A27%2C27%2C0%2C0%2C0%2C17%2C56.14%2C42.2%2C42.2%2C0%2C0%2C0%2C17%2C123.85a26.06%2C26.06%2C0%2C0%2C0-.26%2C3.75A27%2C27%2C0%2C0%2C0%2C43.78%2C154.6Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Headache label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20276.14%20312.41%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M135.29%2C92.26a6.5%2C6.5%2C0%2C0%2C0%2C8.73-3l18.86-38.16a6.53%2C6.53%2C0%2C0%2C0-4.25-9.21l-8.33-2.11L168.87%2C10A6.52%2C6.52%2C0%2C1%2C0%2C157.8%2C3.08L134.51%2C40.52a6.53%2C6.53%2C0%2C0%2C0%2C3.94%2C9.77l9.16%2C2.32L132.33%2C83.53A6.51%2C6.51%2C0%2C0%2C0%2C135.29%2C92.26Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M70.33%2C53.85A6.53%2C6.53%2C0%2C0%2C0%2C80%2C58l8.12-4.84L99.2%2C85.81a6.51%2C6.51%2C0%2C0%2C0%2C6.17%2C4.43%2C6.43%2C6.43%2C0%2C0%2C0%2C2.1-.35%2C6.51%2C6.51%2C0%2C0%2C0%2C4.08-8.27L97.91%2C41.31a6.53%2C6.53%2C0%2C0%2C0-9.52-3.51L81%2C42.2%2C73%2C8a6.52%2C6.52%2C0%2C1%2C0-12.7%2C3Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M199.18%2C82.49%2C166.51%2C93.55a6.52%2C6.52%2C0%2C0%2C0%2C2.09%2C12.7%2C6.62%2C6.62%2C0%2C0%2C0%2C2.09-.34L211%2C92.26a6.51%2C6.51%2C0%2C0%2C0%2C3.51-9.51l-4.4-7.39%2C34.25-8a6.52%2C6.52%2C0%2C1%2C0-3-12.7l-42.94%2C10a6.52%2C6.52%2C0%2C0%2C0-4.12%2C9.69Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M256.28%2C174.52l-46.63-39.63A28.15%2C28.15%2C0%2C0%2C0%2C172%2C136%2C59.46%2C59.46%2C0%2C0%2C0%2C57.42%2C158.45v18.18a59%2C59%2C0%2C0%2C0%2C17%2C41.68A88.88%2C88.88%2C0%2C0%2C0%2C0%2C305.89a6.52%2C6.52%2C0%2C0%2C0%2C13%2C0%2C75.77%2C75.77%2C0%2C0%2C1%2C75.69-75.68%2C7.55%2C7.55%2C0%2C0%2C0%2C3.93-14%2C46.13%2C46.13%2C0%2C0%2C1-22.2-39.58V158.45a46.42%2C46.42%2C0%2C1%2C1%2C92.83%2C0v18.18a46.16%2C46.16%2C0%2C0%2C1-22%2C39.49%2C7.61%2C7.61%2C0%2C0%2C0%2C4%2C14.09h70.51a14.46%2C14.46%2C0%2C0%2C0%2C9.38-25.46l-43.46-37a15%2C15%2C0%2C1%2C1%2C19.52-22.89l46.64%2C39.63c16.89%2C14.36%2C17.55%2C34%2C12.55%2C47.69S242.12%2C260.38%2C220%2C260.39l-24.51%2C0a6.53%2C6.53%2C0%2C0%2C0-6.51%2C6.53v38.95a6.52%2C6.52%2C0%2C0%2C0%2C13%2C0V273.45h18a56.14%2C56.14%2C0%2C0%2C0%2C36.31-98.92Zm-39.61%2C40.15a1.31%2C1.31%2C0%2C0%2C1%2C.41%2C1.57%2C1.29%2C1.29%2C0%2C0%2C1-1.33.92H160.41a58.92%2C58.92%2C0%2C0%2C0%2C15.82-36.94Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Joint label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20369.16%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M211.54%2C81.46a40.66%2C40.66%2C0%2C0%2C0%2C12.06-29V40.75a40.75%2C40.75%2C0%2C1%2C0-81.49%2C0V52.5a40.64%2C40.64%2C0%2C0%2C0%2C12.06%2C29%2C76.33%2C76.33%2C0%2C0%2C0-49.3%2C45.44%2C25.07%2C25.07%2C0%2C0%2C0%2C16.88%2C33.33V286.83a25.7%2C25.7%2C0%2C0%2C0%2C51.4%2C0V219.77a5.55%2C5.55%2C0%2C1%2C1%2C11.09%2C0v67.06a25.7%2C25.7%2C0%2C0%2C0%2C51.4%2C0V213.24a21.4%2C21.4%2C0%2C0%2C0%2C8.67%2C1.82A21.75%2C21.75%2C0%2C0%2C0%2C266%2C193.34V154.57A76.61%2C76.61%2C0%2C0%2C0%2C211.54%2C81.46ZM253%2C182.51v10.83a8.67%2C8.67%2C0%2C1%2C1-17.34%2C0v-47.2a6.53%2C6.53%2C0%2C1%2C0-13%2C0V286.83a12.66%2C12.66%2C0%2C0%2C1-25.31%2C0V219.77a18.59%2C18.59%2C0%2C0%2C0-37.18%2C0v67.06a12.65%2C12.65%2C0%2C0%2C1-25.3%2C0V161.09h54.68a22.5%2C22.5%2C0%2C0%2C0%2C0-45H151a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13h38.5a9.45%2C9.45%2C0%2C1%2C1%2C0%2C18.9H128.27A12.06%2C12.06%2C0%2C0%2C1%2C117%2C131.63a63.24%2C63.24%2C0%2C0%2C1%2C50.29-39.7A8%2C8%2C0%2C0%2C0%2C169.94%2C77a27.63%2C27.63%2C0%2C0%2C1-14.78-24.5V40.75a27.7%2C27.7%2C0%2C1%2C1%2C55.4%2C0V52.5A27.67%2C27.67%2C0%2C0%2C1%2C195.77%2C77a8%2C8%2C0%2C0%2C0%2C2.63%2C14.92A63.42%2C63.42%2C0%2C0%2C1%2C253%2C154.57Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M364.66%2C182.57l-36.58-11.91a6.53%2C6.53%2C0%2C0%2C0-8.55%2C6.16l0%2C7.22-28.38-6.28a6.53%2C6.53%2C0%2C0%2C0-2.82%2C12.75l36.27%2C8a6.59%2C6.59%2C0%2C0%2C0%2C1.4.15%2C6.52%2C6.52%2C0%2C0%2C0%2C6.53-6.48l0-6.36%2C28.1%2C9.15a6.53%2C6.53%2C0%2C0%2C0%2C4-12.41Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M285.14%2C162.3a6.55%2C6.55%2C0%2C0%2C0%2C3.51-1l31.3-20a6.52%2C6.52%2C0%2C0%2C0%2C1.14-10.08l-4.47-4.53L343%2C113.3A6.53%2C6.53%2C0%2C0%2C0%2C337%2C101.67l-34.29%2C17.44a6.52%2C6.52%2C0%2C0%2C0-1.69%2C10.4l5.07%2C5.13-24.5%2C15.64a6.52%2C6.52%2C0%2C0%2C0%2C3.51%2C12Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M321.43%2C230.3a6.53%2C6.53%2C0%2C0%2C0-10.4-1.69l-5.13%2C5.08-15.64-24.51a6.52%2C6.52%2C0%2C1%2C0-11%2C7l20%2C31.31a6.52%2C6.52%2C0%2C0%2C0%2C10.08%2C1.13l4.53-4.47%2C13.39%2C26.34a6.53%2C6.53%2C0%2C0%2C0%2C11.64-5.91Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M43.11%2C204.7a6.52%2C6.52%2C0%2C0%2C0%2C6.52-6.48l0-7.22%2C28.38%2C6.27a6.52%2C6.52%2C0%2C0%2C0%2C2.82-12.74l-36.26-8a6.52%2C6.52%2C0%2C0%2C0-7.93%2C6.33l0%2C6.36L8.55%2C180.05a6.53%2C6.53%2C0%2C1%2C0-4%2C12.41l36.58%2C11.92A6.37%2C6.37%2C0%2C0%2C0%2C43.11%2C204.7Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M80.52%2C213.76l-31.31%2C20a6.53%2C6.53%2C0%2C0%2C0-1.13%2C10.09l4.47%2C4.52-26.34%2C13.4a6.52%2C6.52%2C0%2C1%2C0%2C5.91%2C11.63l34.3-17.44a6.53%2C6.53%2C0%2C0%2C0%2C1.69-10.4L63%2C240.39l24.51-15.63a6.52%2C6.52%2C0%2C0%2C0-7-11Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M69.93%2C127.53a6.53%2C6.53%2C0%2C0%2C0-10.09-1.14l-4.53%2C4.47L41.92%2C104.53a6.52%2C6.52%2C0%2C0%2C0-11.63%2C5.91l17.44%2C34.3a6.52%2C6.52%2C0%2C0%2C0%2C10.4%2C1.68l5.14-5.07%2C15.63%2C24.5a6.52%2C6.52%2C0%2C1%2C0%2C11-7Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Exhausted label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20333.98%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2300b6ea%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M21.37%2C204.51a142.93%2C142.93%2C0%2C0%2C1-8.32-48.24c0-79%2C64.25-143.22%2C143.22-143.22A144.41%2C144.41%2C0%2C0%2C1%2C185.14%2C16a6.53%2C6.53%2C0%2C0%2C0%2C2.61-12.79A157.76%2C157.76%2C0%2C0%2C0%2C156.27%2C0C70.1%2C0%2C0%2C70.1%2C0%2C156.27a155.87%2C155.87%2C0%2C0%2C0%2C9.09%2C52.64%2C6.52%2C6.52%2C0%2C0%2C0%2C12.28-4.4Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M301.89%2C191.9a6.51%2C6.51%2C0%2C0%2C0-8.08%2C4.44A144.25%2C144.25%2C0%2C0%2C1%2C243%2C270.26%2C143.35%2C143.35%2C0%2C0%2C1%2C91.49%2C284a6.52%2C6.52%2C0%2C0%2C0-5.91%2C11.63%2C156.44%2C156.44%2C0%2C0%2C0%2C165.31-15A157.47%2C157.47%2C0%2C0%2C0%2C306.34%2C200%2C6.52%2C6.52%2C0%2C0%2C0%2C301.89%2C191.9Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M334%2C72.29V44a15.22%2C15.22%2C0%2C0%2C0-15.2-15.2H203.54A15.22%2C15.22%2C0%2C0%2C0%2C188.34%2C44V68.08a15.21%2C15.21%2C0%2C0%2C0%2C15.2%2C15.19h38.67l-47.53%2C34.06a15.25%2C15.25%2C0%2C0%2C0-6.34%2C12.36V158a15.22%2C15.22%2C0%2C0%2C0%2C15.2%2C15.2H304.63a6.53%2C6.53%2C0%2C0%2C0%2C0-13.05H203.54a2.16%2C2.16%2C0%2C0%2C1-2.16-2.15v-28.3a2.17%2C2.17%2C0%2C0%2C1%2C.9-1.75l64-45.89a6.52%2C6.52%2C0%2C0%2C0-3.8-11.82h-59a2.16%2C2.16%2C0%2C0%2C1-2.16-2.15V44a2.16%2C2.16%2C0%2C0%2C1%2C2.16-2.15H318.78A2.15%2C2.15%2C0%2C0%2C1%2C320.93%2C44v28.3A2.15%2C2.15%2C0%2C0%2C1%2C320%2C74l-64%2C45.89a6.53%2C6.53%2C0%2C0%2C0%2C3.8%2C11.83h59a2.15%2C2.15%2C0%2C0%2C1%2C2.15%2C2.15V158A6.53%2C6.53%2C0%2C0%2C0%2C334%2C158V133.91a15.22%2C15.22%2C0%2C0%2C0-15.2-15.2H280.1l47.53-34.06A15.26%2C15.26%2C0%2C0%2C0%2C334%2C72.29Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M90.69%2C217.91a6.52%2C6.52%2C0%2C0%2C0%2C6.25%2C4.65H166.2a6.53%2C6.53%2C0%2C0%2C0%2C0-13.05H118.76l51-33.5a6.52%2C6.52%2C0%2C0%2C0-3.58-12H96.94a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13.05h47.44l-51%2C33.51A6.51%2C6.51%2C0%2C0%2C0%2C90.69%2C217.91Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M70.19%2C258.85H47.59l26.19-17.2a6.52%2C6.52%2C0%2C0%2C0-3.59-12H25.77a6.52%2C6.52%2C0%2C1%2C0%2C0%2C13H48.38l-26.19%2C17.2a6.53%2C6.53%2C0%2C0%2C0%2C3.58%2C12H70.19a6.53%2C6.53%2C0%2C1%2C0%2C0-13Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important;
}
.Question10 .Checkbox--Diarrhea label::before {
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 24.0.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23006469;stroke-width:3;stroke-miterlimit:10;%7D .st1%7Bfill:%23006469;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='100' cy='100' r='87.91'/%3E%3Cg%3E%3Cpath class='st1' d='M140.56,49.96h-16.08c-10.69,0-19.38,8.69-19.38,19.38v29.98H59.44c-1.38,0-2.5,1.12-2.5,2.5v6.43 c0,12.08,9.19,22.06,20.95,23.32v15.98c0,1.38,1.12,2.5,2.5,2.5h36.4c1.38,0,2.5-1.12,2.5-2.5v-8.68c0-11.68,9.5-21.19,21.19-21.19 c1.42,0,2.58-1.16,2.58-2.58V52.46C143.06,51.08,141.94,49.96,140.56,49.96z M138.06,112.78c-13.31,1.23-23.77,12.45-23.77,26.08 v6.18h-31.4v-15.85c0-1.38-1.12-2.5-2.5-2.5c-10.17,0-18.45-8.28-18.45-18.45v-3.93h45.65c1.38,0,2.5-1.12,2.5-2.5V69.34 c0-7.93,6.45-14.38,14.38-14.38h13.58V112.78z'/%3E%3Cpath class='st1' d='M59.44,97.16H100c1.38,0,2.5-1.12,2.5-2.5c0-1.38-1.12-2.5-2.5-2.5H59.44c-1.38,0-2.5,1.12-2.5,2.5 C56.94,96.04,58.06,97.16,59.44,97.16z'/%3E%3C/g%3E%3C/svg%3E%0A") !important;
}
.Question10 .Checkbox--Nasal-congestion label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20345.96%20312.53%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M286.16%2C188.72H269.68a4.78%2C4.78%2C0%2C0%2C1-4.71-4L233.58%2C5.4a6.53%2C6.53%2C0%2C0%2C0-12.86%2C2.25L252.11%2C187a17.86%2C17.86%2C0%2C0%2C0%2C17.57%2C14.76h16.48a31.89%2C31.89%2C0%2C0%2C1%2C0%2C63.77H241.23l7.55-12.8a10.18%2C10.18%2C0%2C0%2C1%2C8.72-5H275a6.53%2C6.53%2C0%2C1%2C0%2C0-13.05H257.5a23.25%2C23.25%2C0%2C0%2C0-19.95%2C11.39l-13.3%2C22.51-3.1%2C4.77a57.51%2C57.51%2C0%2C0%2C1-96.34%2C0l-3.1-4.75-13.3-22.52a23.25%2C23.25%2C0%2C0%2C0-20-11.39H71a6.53%2C6.53%2C0%2C1%2C0%2C0%2C13.05H88.46a10.15%2C10.15%2C0%2C0%2C1%2C8.71%2C5l7.56%2C12.8H59.8a31.89%2C31.89%2C0%2C1%2C1%2C0-63.77H76.31A17.75%2C17.75%2C0%2C0%2C0%2C93.82%2C186.9L123.24%2C7.58a6.52%2C6.52%2C0%2C0%2C0-12.87-2.11L80.94%2C184.78a4.69%2C4.69%2C0%2C0%2C1-4.63%2C3.94H59.8a44.94%2C44.94%2C0%2C1%2C0%2C0%2C89.87h52.83l1.25%2C1.92a70.55%2C70.55%2C0%2C0%2C0%2C118.2%2C0l1.25-1.92h52.83a44.94%2C44.94%2C0%2C0%2C0%2C0-89.87Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M145%2C183.47a61.18%2C61.18%2C0%2C0%2C1%2C54.64-.63l1.43.7a6.53%2C6.53%2C0%2C0%2C0%2C5.72-11.73l-1.43-.7a74.3%2C74.3%2C0%2C0%2C0-66.35.77%2C6.52%2C6.52%2C0%2C1%2C0%2C6%2C11.59Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M15.94%2C12.05l47.7%2C30a6.52%2C6.52%2C0%2C0%2C0%2C6.94-11L22.88%2C1a6.52%2C6.52%2C0%2C0%2C0-6.94%2C11.05Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M73.63%2C68.74a6.52%2C6.52%2C0%2C0%2C0-6.52-6.52H6.52a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13H67.11A6.53%2C6.53%2C0%2C0%2C0%2C73.63%2C68.74Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M19.42%2C137.48a6.42%2C6.42%2C0%2C0%2C0%2C3.46-1l47.7-30a6.52%2C6.52%2C0%2C0%2C0-6.94-11l-47.7%2C30a6.53%2C6.53%2C0%2C0%2C0%2C3.48%2C12Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M330%2C125.43l-47.69-30a6.52%2C6.52%2C0%2C1%2C0-6.94%2C11l47.69%2C30a6.52%2C6.52%2C0%2C1%2C0%2C6.94-11Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M339.43%2C62.22H278.85a6.53%2C6.53%2C0%2C1%2C0%2C0%2C13h60.58a6.53%2C6.53%2C0%2C1%2C0%2C0-13Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M278.86%2C43a6.47%2C6.47%2C0%2C0%2C0%2C3.46-1l47.69-30a6.52%2C6.52%2C0%2C1%2C0-6.94-11L275.38%2C31a6.52%2C6.52%2C0%2C0%2C0%2C3.48%2C12Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important; 
}
.Question10 .Checkbox--Sinus-congestion label::before {
  background: url("data:image/svg+xml,%3Csvg%20id%3D%22Layer_1%22%20data-name%3D%22Layer%201%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20268.68%20312.58%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3A%2315bef0%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ctitle%3EFluent-Web-Icons%3C%2Ftitle%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M134.34%2C0C60.27%2C0%2C0%2C60.27%2C0%2C134.34v43.9c0%2C74.07%2C60.26%2C134.33%2C134.33%2C134.33s134.33-60.26%2C134.33-134.33v-43.9C268.67%2C60.27%2C208.41%2C0%2C134.34%2C0ZM255.62%2C178.24A121.42%2C121.42%2C0%2C0%2C1%2C134.34%2C299.52h0A121.42%2C121.42%2C0%2C0%2C1%2C13.06%2C178.24v-43.9a121.28%2C121.28%2C0%2C0%2C1%2C242.56%2C0Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M163.8%2C190.26h-1.7l-7.49-42.82a6.52%2C6.52%2C0%2C0%2C0-12.85%2C2.25l8%2C45.83a9.41%2C9.41%2C0%2C0%2C0%2C9.27%2C7.78h4.75a6.05%2C6.05%2C0%2C0%2C1%2C6%2C6.07v.32a5.64%2C5.64%2C0%2C0%2C1-5.63%2C5.63H148.86a6.53%2C6.53%2C0%2C0%2C0-5.9%2C3.73L141.1%2C223a7.48%2C7.48%2C0%2C0%2C1-13.52%2C0l-1.86-3.92a6.52%2C6.52%2C0%2C0%2C0-5.9-3.73H104.88a6%2C6%2C0%2C0%2C1%2C0-12h4.76a9.39%2C9.39%2C0%2C0%2C0%2C9.27-7.87l7.52-45.81a6.53%2C6.53%2C0%2C1%2C0-12.88-2.11l-7%2C42.75h-1.66a19.06%2C19.06%2C0%2C1%2C0%2C0%2C38.11H115.7l.09.19a20.53%2C20.53%2C0%2C0%2C0%2C37.1%2C0l.1-.19h11.19a18.7%2C18.7%2C0%2C0%2C0%2C18.68-18.68v-.32A19.1%2C19.1%2C0%2C0%2C0%2C163.8%2C190.26Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M49.58%2C106.59%2C91.1%2C126a6.53%2C6.53%2C0%2C0%2C0%2C5.52-11.83L55.1%2C94.77a6.52%2C6.52%2C0%2C0%2C0-5.52%2C11.82Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M100.38%2C140.4a6.53%2C6.53%2C0%2C0%2C0-6.52-6.53H38.55a6.53%2C6.53%2C0%2C0%2C0%2C0%2C13H93.86A6.52%2C6.52%2C0%2C0%2C0%2C100.38%2C140.4Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M99.77%2C158a6.53%2C6.53%2C0%2C0%2C0-8.67-3.15l-41.52%2C19.4a6.52%2C6.52%2C0%2C0%2C0%2C2.77%2C12.43A6.43%2C6.43%2C0%2C0%2C0%2C55.1%2C186l41.52-19.4A6.53%2C6.53%2C0%2C0%2C0%2C99.77%2C158Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M213.58%2C94.77l-41.52%2C19.39a6.53%2C6.53%2C0%2C0%2C0%2C2.77%2C12.44%2C6.66%2C6.66%2C0%2C0%2C0%2C2.76-.61l41.51-19.4a6.52%2C6.52%2C0%2C1%2C0-5.52-11.82Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M168.3%2C140.4a6.52%2C6.52%2C0%2C0%2C0%2C6.52%2C6.52h55.31a6.53%2C6.53%2C0%2C0%2C0%2C0-13H174.82A6.53%2C6.53%2C0%2C0%2C0%2C168.3%2C140.4Z%22%2F%3E%3Cpath%20class%3D%22cls-1%22%20d%3D%22M219.1%2C174.21l-41.51-19.4a6.52%2C6.52%2C0%2C1%2C0-5.53%2C11.82L213.58%2C186a6.44%2C6.44%2C0%2C0%2C0%2C2.76.61%2C6.52%2C6.52%2C0%2C0%2C0%2C2.76-12.43Z%22%2F%3E%3C%2Fsvg%3E") no-repeat center !important; 
}

</style>

{% schema %}
  {
    "name": "Quiz",
    "settings": [
      {
        "label": "Heading",
        "id": "heading",
        "type": "text"
      },
      {
        "type": "select",
        "id": "heading_class",
        "label": "Heading style",
        "default": "h3",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          },
          {
            "value": "h7",
            "label": "H7"
          },
          {
            "value": "h8",
            "label": "H8"
          },          
          {
            "value": "p",
            "label": "Paragraph"
          },
          {
            "value": "pbold",
            "label": "Paragraph (Bold)"
          }
        ]
      },
      {
        "label": "Preheading",
        "id": "preheading",
        "type": "text"
      },
      {
        "type": "select",
        "id": "preheading_class",
        "label": "Preheading style",
        "default": "h5",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          },
          {
            "value": "h7",
            "label": "H7"
          },
          {
            "value": "h8",
            "label": "H8"
          },          
          {
            "value": "p",
            "label": "Paragraph"
          },
          {
            "value": "pbold",
            "label": "Paragraph (Bold)"
          }
        ]
      },
      {
        "label": "Subheading",
        "id": "subheading",
        "type": "text"
      },
      {
        "type": "select",
        "id": "subheading_class",
        "label": "Subheading style",
        "default": "h4",
        "options": [
          {
            "value": "h1",
            "label": "H1"
          },
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          },
          {
            "value": "h7",
            "label": "H7"
          },
          {
            "value": "h8",
            "label": "H8"
          },          
          {
            "value": "p",
            "label": "Paragraph"
          },
          {
            "value": "pbold",
            "label": "Paragraph (Bold)"
          }
        ]
      },
      {
        "label": "Button text",
        "id": "cta",
        "type": "text"
      },
      {
        "label": "Button ARIA label",
        "id": "cta_aria_label",
        "type": "text"
      },
      {
        "label": "Button style",
        "id": "cta_style",
        "type": "select",
        "default": "primary",
        "options": [
          {
            "value": "primary",
            "label": "Primary"
          },
          {
            "value": "secondary",
            "label": "Secondary"
          },
          {
            "value": "on-image",
            "label": "On-Image"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "body_text",
        "label": "Body Text",
        "default": "<p>Fill out our quick 5-minute survey to help us understand your past experience with a cold or flu, so we can make our product offerings even better.<br><br> Complete the survey and you could be randomly selected to receive a Cold & Flu Essentials Kit!</p>"
      },
      {
        "type": "richtext",
        "id": "disclaimer_text",
        "label": "Disclaimer Text",
        "default": "<p>In order to participate in our quick 5-minute survey, you must be 18 years of age or older and a resident of the U.S. or D.C. All information will be kept private and confidential.</p>"
      },
      {
        "type": "checkbox",
        "id": "use_background",
        "label": "Use background",
        "default": false,
        "info": "Check this to use a custom background."
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#fff"
      },
      {
        "label": "Background image",
        "id": "background_image",
        "type": "image_picker"
      },
      {
        "type": "range",
        "id": "container_width",
        "min": 200,
        "max": 1100,
        "step": 50,
        "unit": "px",
        "label": "Container Width",
        "default": 500
      },
      {
        "label": "Overlay style",
        "id": "overlay_type",
        "type": "select",
        "default": "dark-overlay",
        "options": [
          {
            "group": "No Overlay",
            "value": "light-text",
            "label": "Light Text"
          },
          {
            "group": "No Overlay",
            "value": "dark-text",
            "label": "Dark Text"
          },
          {
            "group": "Solid Overlay",
            "value": "light-overlay",
            "label": "Light Background (Dark Text)"
          },
          {
            "group": "Solid Overlay",
            "value": "dark-overlay",
            "label": "Dark Background (Light Text)"
          },
          {
            "group": "Solid Overlay",
            "value": "branded-overlay",
            "label": "Branded"
          },
          {
            "group": "Gradient Overlay",
            "value": "light-gradient",
            "label": "Light Background (Dark Text)"
          },
          {
            "group": "Gradient Overlay",
            "value": "dark-gradient",
            "label": "Dark Background (Light Text)"
          },
          {
            "group": "Gradient Overlay",
            "value": "branded-gradient",
            "label": "Branded"
          }
        ],
        "default": "dark-overlay"
      },
      {
        "type": "select",
        "id": "animation",
        "label": "Animation",
        "default": "fade-in",
        "options": [
          {
            "value": "fade-in",
            "label": "Fade in"
          },
          {
            "value": "slide-up",
            "label": "Fade in & slide up"
          },
          {
            "value": "slide-down",
            "label": "Fade in & slide down"
          },          
          {
            "value": "slide-left",
            "label": "Fade in & slide left"
          },
          {
            "value": "slide-right",
            "label": "Fade in & slide right"
          },
          {
            "value": "zoom-fade-in",
            "label": "Fade in & zoom out"
          },
          {
            "value": "none",
            "label": "None"
          }
        ]
      },
      {
        "type": "header",
        "content": "Desktop :: Settings"
      },
      {
        "type": "select",
        "id": "width_desktop",
        "label": "Width",
        "default": "fixed",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "full"
          },
          {
            "label": "Fixed",
            "value": "fixed"
          }
        ]
      },
      {
        "type": "range",
        "id": "margin_top_desktop",
        "min": -300,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Top margin",
        "default": 0,
        "info": "Use this to shift the entire section up (negative) or down (positive)"
      },
      {
        "type": "range",
        "id": "padding_top_desktop",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Top padding",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom_desktop",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Bottom padding",
        "default": 30
      },
      {
        "type": "header",
        "content": "Tablet :: Settings"
      },
      {
        "type": "select",
        "id": "width_tablet",
        "label": "Width",
        "default": "fixed",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "full"
          },
          {
            "label": "Fixed",
            "value": "fixed"
          }
        ]
      },
      {
        "type": "range",
        "id": "margin_top_tablet",
        "min": -300,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Top margin",
        "default": 0,
        "info": "Use this to shift the entire section up (negative) or down (positive)"
      },
      {
        "type": "range",
        "id": "padding_top_tablet",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Top padding",
        "default": 30
      },
      {
        "type": "range",
        "id": "padding_bottom_tablet",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Bottom padding",
        "default": 30
      },
      {
        "type": "header",
        "content": "Mobile :: Settings"
      },
      {
        "type": "select",
        "id": "width_mobile",
        "label": "Width",
        "default": "fixed",
        "options": [
          {
            "label": "Full (Edge-to-Edge)",
            "value": "full"
          },
          {
            "label": "Fixed",
            "value": "fixed"
          }
        ]
      },
      {
        "type": "range",
        "id": "margin_top_mobile",
        "min": -300,
        "max": 300,
        "step": 10,
        "unit": "px",
        "label": "Top margin",
        "default": 0,
        "info": "Use this to shift the entire section up (negative) or down (positive)"
      },
      {
        "type": "range",
        "id": "padding_top_mobile",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Top padding",
        "default": 20
      },
      {
        "type": "range",
        "id": "padding_bottom_mobile",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Bottom padding",
        "default": 20
      }
    ]
  }
{% endschema %}