<div class="CartProduct" data-id="[[ id ]]">
  <div class="CartProduct__image">
    <a href="[[ url ]]" role="presentation">
      [[ formatted_image ]]
    </a>
  </div>

  <div class="CartProduct__info">
    <a class="CartProduct__title" href="[[ url ]]">[[ product_title ]]</a>

    ##OPTIONS##
      <div class="CartProduct__options">
        <span>[[ variant_title ]]</span>
      </div>
    ##OPTIONS##

    {% comment %}
    ##SKU##
      <div class="CartProduct__options">
        <span>SKU: [[ sku ]]</span>
      </div>
    ##SKU##
    {% endcomment %}

    {% comment %}
    ##VENDOR##
      <div class="CartProduct__options">
        <span>[[ vendor ]]</span>
      </div>
    ##VENDOR##
    {% endcomment %}

    <div class="CartProduct__price [[ discounted ]]" data-label="{{ 'cart.label.price' | t }}">[[ formatted_price ]]</div>

    ##DISCOUNT_DESCRIPTION##
      <div class="CartProduct__discount">[[ discount_description ]]</div>
    ##DISCOUNT_DESCRIPTION##

    <div class="CartProduct__quantity" data-label="{{ 'cart.label.quantity' | t }}">
      {% comment %} <label for="quantity_[[ key ]]">{{ 'cart.label.quantity' | t }}</label> {% endcomment %}
      
      {% if settings.quantity_ui == 'input' %}
        <div class="Quantity__button Quantity__button--left" tabindex="0" role="button" data-quantity-minus><i aria-label="{% include 'INF-translation', translate: 'cart.label.decrease_quantity', default: 'Decrease quantity' %} - [[ product_title ]]" class="{{ settings.fa }} fa-minus"></i></div>
        <input 
          class="Quantity__input {% unless settings.quantity_input_allowed %}Quantity__input--readonly{% endunless %}" 
          type="number" 
          name="quantity" 
          value="[[ quantity ]]" 
          min="0"
          aria-label="{% include 'INF-translation', translate: 'cart.general.item_quantity', default: 'Item quantity' %} - [[ product_title ]]"
          data-quantity-input 
          data-quantity-debounce="[[ key ]]"
          {% unless settings.quantity_input_allowed %}readonly tabindex="-1" role="presentation" {% endunless %}
        >
        <div class="Quantity__button Quantity__button--right" tabindex="0" role="button" data-quantity-plus><i aria-label="{% include 'INF-translation', translate: 'cart.label.increase_quantity', default: 'Increase quantity' %} - [[ product_title ]]" class="{{ settings.fa }} fa-plus"></i></div>
      {% else %}
        <select name="quantity" id="quantity_[[ key ]]" aria-label="{{ 'cart.general.item_quantity' | t }}">
          ##QUANTITIES##
            <option value="[[ quantity_index ]]" selected>[[ quantity_index ]]</option>
          ##QUANTITIES##
        </select>
      {% endif %}
    </div>
  </div>

  <div class="CartProduct__remove" tabindex="0" role="button" data-cart-remove><i aria-label="{% include 'INF-translation', translate: 'cart.general.remove', default: 'Remove from cart' %} - [[ product_title ]]" class="{{ settings.fa }} fa-times"></i></div>
</div>