{%- comment -%}This is just a recommended starting point...customize away!{%- endcomment -%}

<div class="MobileMenu__bottom">

  {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
  <ul class="MobileMenu__social">
    {%- for social in social_accounts -%}
      {%- assign social_handle = social | handleize -%}
      {%- capture social_link -%}social_{{ social_handle }}_link{%- endcapture -%}
      {%- capture social_icon -%}fa-{{ social_handle }}{%- endcapture -%}

      {%- if settings[social_link] != blank -%}
        <li class="MobileMenu__social-icon">
          <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            <i aria-hidden="true" class="fab {{ social_icon }}"></i>
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {%- endif %}

    {% endfor %}
  </ul>

</div>