<div class="RegisterPage">
  {%- include 'INF-RegisterForm-logic' -%}

  {% form 'create_customer', class: "Form RegisterForm" %}
    {% unless section.settings.heading == blank %}<h2 class="h3 Section__heading Register__heading">{{ section.settings.heading }}</h2>{% endunless %}
    {% unless section.settings.details == blank %}<div class="RegisterPage__details">{{ section.settings.details }}</div>{% endunless %}

    {{ form.errors | default_errors }}

    {%- include 'RegisterForm-fields' -%}

    <div class="Form__input-group">
      <div class="Form__input-item">
        <input type="hidden" name="customer[accepts_marketing]" value="" />
        <input type="checkbox" name="customer[accepts_marketing]"{% if shop.currency == 'USD' %} checked="checked"{% endif %}/>
        {% assign newsletter_default = 'shopify.checkout.marketing.accept_marketing_checkbox_label' | t %}
        <span class="RegisterForm__newsletter">{{ section.settings.newsletter_text | default: newsletter_default }}</span>
      </div>
    </div>

    <div class="Form__submit-group Form__submit-group--centered">
      {% unless section.settings.required_fields_message == blank %}
        <div class="RegisterForm__required-fields-message Form__required-fields-message">
          <span class="Form__required"></span>{{ section.settings.required_fields_message }}
        </div> 
      {% endunless %}
      <input type="submit" value="{{ 'customer.register.submit' | t }}" class="RegisterForm__button Button Button--{{ section.settings.button_style }}">
      {% unless section.settings.closing_info == blank %}
        <div class="Form__closing-info">
          {{ section.settings.closing_info }}
        </div> 
      {% endunless %}
    </div>
  {% endform %}
</div>